 <!DOCTYPE RCC><RCC version="1.0">
 <qresource>
	<file>resources/aceslogo.png</file>
	<file>resources/cybergamelogo.png</file>
	<file>resources/funstreamlogo.png</file>
	<file>resources/gamerstvlogo.png</file>	
	<file>resources/gipsyteamlogo.png</file>
	<file>resources/goodgamelogo.png</file>
	<file>resources/hitboxlogo.png</file>
	<file>resources/livecodinglogo.png</file>
	<file>resources/realltvlogo.png</file>
	<file>resources/sc2tvlogo.png</file>
	<file>resources/streamboxlogo.png</file>
	<file>resources/twitchlogo.png</file>
	<file>resources/youtubelogo.png</file>
	<file>resources/broico.ico</file>
	<file>resources/default.html</file>
 </qresource>
 </RCC>
