@-webkit-keyframes messageAnim
{
	from{ margin-left: 100%; }
	to{ margin-left:initial; }
}

html
{
	overflow: hidden;
}

body
{
	/*background-color: transparent;*/
	background-color: rgba( 0,0,0, .5 );
	padding: 0px; 
	margin: 0px;
}

#messagesList
{
}

.alias .messagebox
{
	color: rgb( 255, 128, 0 );
}

.ignore .messagebox
{
}

.support .messagebox
{
}

.messagebox
{
	font-family: 'Arial';
	font-weight: bold;
	color: rgb( 255, 255, 255 );
	width: 100%;
	-webkit-animation: messageAnim .5s;
	text-shadow: 1px 1px rgba( 128,128,128, .5 );
	border-bottom: 1px solid rgba( 255,255,255, .5);
}

.header
{
	display: inline-block;
}

.message
{
	display: inline;
}

.service
{
	display: inline-block;
}

.nick
{
	display: inline-block;
	color: #1895da;
}

.smile
{
	height: 16px;
}

.picture
{	
	max-height: 100px;
	max-width: 100%;
}

.aces
{
	content: url(../resources/aceslogo.png);
	height: 16px;
}

.azubu
{
	content: url(../resources/azubulogo.png);
	height: 16px;
}


.beampro
{
	content: url(../resources/beamprologo.png);
	height: 16px;
}

.cybergame
{
	content: url(../resources/cybergamelogo.png);
	height: 16px;
}

.funstream
{
	content: url(../resources/funstreamlogo.png);
	height: 16px;
}


.gamerstv
{
	content: url(../resources/gamerstvlogo.png);
	height: 16px;
}

.gipsyteam
{
	content: url(../resources/gipsyteamlogo.png);
	height: 16px;
}

.goodgame
{
	content: url(../resources/goodgamelogo.png);
	height: 16px;
}

.hitbox
{
	content: url(../resources/hitboxlogo.png);
	height: 16px;
}

.igdc
{
	content: url(../resources/igdclogo.png);
	height: 16px;
}

.livecoding
{
	content: url(../resources/livecodinglogo.png);
	height: 16px;
}

.realltv
{
	content: url(../resources/realltvlogo.png);
	height: 16px;
}

.sc2tv
{
	content: url(../resources/sc2tvlogo.png);
	height: 16px;
}

.streambox
{
	content: url(../resources/streamboxlogo.png);
	height: 16px;
}

.streamcube
{
	content: url(../resources/streamcubelogo.png);
	height: 16px;
}

.twitch
{
	content: url(../resources/twitchlogo.png);
	height: 16px;
}

.vidi
{
	content: url(../resources/vidilogo.png);
	height: 16px;
}

.youtube
{
	content: url(../resources/youtubelogo.png);
	height: 16px;
}
